<div class="row">
  <div class="col-md-6">
    <h1><%= @registered_application.name %></h1>
    <h4><%= link_to @registered_application.url, "http://#{@registered_application.url}", target: "_blank" %></h4>
    <h5>Number of events: <%= @registered_application.events.count %></h5>
    <ul>
      <% @registered_application.events.each do |event| %>
        <li><%= event.name %></li>
      <% end %>
    <%= link_to "Edit Application", edit_registered_application_path(@registered_application), class: 'btn btn-success' %>
    <%= link_to "Delete Application", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this application?'} %>
  </div>
</div>
